img {
    width: 700px;
    height: 600px;
    border: none;
    margin: 10px;
}

body {
    text-align: center;

}

.travel_mainDiv
{
    border: 1px solid lightgrey;
}

.travel.mainDiv img
{
    width: 100%;
}

.travel_mainDiv h5 , .travel.mainDiv p
{
    margin: 20px;
}